@tailwind base;
@tailwind components;
@tailwind utilities;

.home-bg-color {
    background: radial-gradient(at 70% 111%,#252653 0%,#171e2b 50% );
}

* {
    scrollbar-width: thin;
}

/* Scrollbar size */
::-webkit-scrollbar,
::-webkit-scrollbar-thumb {
    width: 8px;
    height: 8px;
}

/* Scrollbar track */
::-webkit-scrollbar-track {
    background: #555;
}

/* Scrollbar thumb */
::-webkit-scrollbar-thumb {
    background: #121212;
    border-radius: 5px;
}

/* Scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
    background: #242424;
}

.add-conversation-loading {
    animation: add-conversation-loading 0.5s;
}

.text-shadow {
    text-shadow: 0 5px 10px #4d648d8a;
}

@keyframes add-conversation-loading {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
